<!-- stuff triggering build errors -->
<!-- beware rogue quote marks -->
  <meta name="viewport" content="width="device-width, initial-scale=1.0"> 
<!-- beware rogue quote marks -->
  <meta name="title" content="" />
  <link rel="shortlink" href="" />
  <link rel="canonical" href="" />
  <!-- Make sure relevant meta tags are added for every page not just duplicating index: add keywords and phrases that are relevant and correspond to the text on that specific page -->
  <meta name="description" content="" />
  <!-- abstract tag used by some search engines to archive site -->
  <meta name="abstract"  content="" />
  <meta name="keywords" content="" />