{{ partial "head" . }}

<main class="main-content main-content--{{ .Section | urlize }}">
  <header class="c-section-header">
    <h1 class="c-section-header__headline">{{ .Section }}: <span class="u-todo">collection name here (subsection content)</span></h1>
  </header>
  <div class="gallery-carousel">
    {{ range where .Pages "Section" "gallery" }}
      <figure><img class="gallery-carousel__img"src="{{ .Params.image }}" alt="{{ .Params.description }}" />
        <figcaption class="gallery-carousel__caption">{{ .Params.description }}<p>{{ .Content }}</p></figcaption>
      </figure>
      <!-- set custom var here for .Content ? -->
      <!-- does any additional content before end carousel div suppress img display?  YES -->
      <!-- <p>rogue content outside figure but inside gallery-carousel div</p> -->
    {{ end }}
  </div>
  <div class="buttons">
    <button class="prev c-btn">prev</button>
    <button class="next c-btn">next</button>
  </div>
  <hr>
  <article>
    <p class="u-todo">Some article text for additional content relating to selected image. For making relational links to other content—make use of taxonomies?</p>
    <hr />
  </article>    
</main>
{{ partial "footer" . }}
{{ partial "tail" . }}
