{{ partial "head" . }}

<main class="main-content main-content--{{ .Section | urlize }}">
  <header class="c-section-header">
    <h1 class="c-section-header__headline">{{ .Section }}</h1>
  </header>
  <!-- <h2>{{ .Section }} (default h1 changed to h2 to test header alternative)</h2> -->
  {{ if eq .Section "gallery" }}
    <div class="gallery-carousel">
      {{ range where .Pages "Section" "gallery" }}
        <div><img src="{{ .Params.image }}"/></div>
      {{ end }}
    </div>
    <div class="buttons">
      <button class="prev c-btn">prev</button>
      <button class="next c-btn">next</button>
    </div>
  {{ end }}
</main>
{{ partial "footer" . }}
{{ partial "tail" . }}
